<section class="ftco-section">
	<div class="log-body">
		<div class="form-body">
			<h1 class="text-header log-text">Log In</h1>
			<form class="form-group" [formGroup]="loginform" (ngSubmit)="onSubmit()">
				<div class="mb-3 row needs-validation">
					<label class="form-label" [ngClass]="{ 'required-label': true }">
						Email
					</label>
					<input
						type="email"
						formControlName="email"
						[ngClass]="{ 'form-control': true, 'required-field': FieldControlEmail.touched && FieldControlEmail.errors?.['required'] }" />
					<error-msg [control]="'email'"></error-msg>
				</div>

				<div class="mb-3 row needs-validation">
					<label class="form-label" [ngClass]="{ 'required-label': true }">
						Password
					</label>
					<div class="d-flex justify-content-between align-items-center p-0">
						<input
							[type]="toggle ? 'text' : 'password'"
							formControlName="password"
							placeholder="8+ characters"
							[ngClass]="{ 'form-control': true, 'required-field': FieldControlPass.touched && FieldControlPass.errors?.['required'] }" />

						<span
							class="icon-hidden"
							(click)="$event.stopPropagation(); toggleVisual()">
							<div>{{ toggle ? 'on' : 'off' }}</div>
						</span>
					</div>
					<error-msg [control]="'password'"></error-msg>
				</div>

				<div class="mb-3 row needs-validation">
					<button class="text-header submitbtn" type="submit">Log In</button>
				</div>
			</form>
			<div class="separator">
				<div class="my-4 separate-line"></div>
				<div class="text-header divider-log">Or Log In With</div>
			</div>

			<div class="text-header active-link">
				Don't have an account?
				<a href="javaScript:void(0)" [routerLink]="['/auth/register']">
					Sign up</a
				>
			</div>
		</div>
	</div>
</section>
